<div class="top-wrap">
    <a href="/admin" >home</a>
    <a href="/admin/banner" >banner</a>
    <a href="/admin/blog" >blog</a>
    <a href="/admin/contact" >contact</a>
    <a href="/admin/custome" >custome</a>
    <a href="/admin/intro" >intro</a>
    <a href="/admin/message" >message</a>
    <a href="/admin/news" >news</a>
</div>