html
    head
        style
        script(src="a.js")
        link(rel="stylesheet", href="a.css")
    body
        div
        ul
            li apple
            li banana
            li pear
        div
        div(style="width:200px;height:300px;")
        div(style={width:"200px", height:"300px"})
        div(class="aaa left-item active")
        div(class=["aaa", "left-item", "active"])
        div
        div.box
        div#header
        div
        div&attributes({title:"title", id:"title"})
        div




